<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeHandlers>
		<typeHandler handler="com.zyf.framework.support.mybatis.typehandler.ArrayToStringTypeHandler"/>
		<typeHandler handler="com.zyf.framework.support.mybatis.typehandler.CalendarTypeHandler"/>
		<typeHandler handler="com.zyf.framework.support.mybatis.typehandler.ListIntToStringTypeHandler"/>
		<typeHandler handler="com.zyf.framework.support.mybatis.typehandler.ListStringTypeHandler"/>
		<typeHandler handler="com.zyf.framework.support.mybatis.typehandler.GenericEnumTypeHandler"/>
	</typeHandlers>

	<plugins>
		<plugin interceptor="com.zyf.framework.plugin.PerformanceInterceptor"></plugin>
	</plugins>
</configuration>